.grid {
  display: grid;
  grid-auto-columns: min-content;
  grid-auto-flow: column;
}

.block {
  display: inline-block;
  height: 0.0625em;
  margin-bottom: 1em;
  margin-left: -0.0625em;
  margin-right: 1em;
  margin-top: -0.0625em;
  width: 0.0625em;
}
