:root {
  --color-00: #656565;
  --color-01: #002D69;
  --color-02: #131F7F;
  --color-03: #3C137C;
  --color-04: #600B62;
  --color-05: #730a37;
  --color-06: #710f07;
  --color-07: #5a1a00;
  --color-08: #a6a08f;
  --color-09: #0b3400;
  --color-0a: #003c00;
  --color-0b: #003d10;
  --color-0c: #003840;
  --color-0d: #000000;
  --color-0e: #000000;
  --color-0f: #000000;
  --color-10: #aeaeae;
  --color-11: #0f63b3;
  --color-12: #4051d0;
  --color-13: #7841cc;
  --color-14: #a736a9;
  --color-15: #c03470;
  --color-16: #bd3c30;
  --color-17: #9f4a00;
  --color-18: #6d5c00;
  --color-19: #366d00;
  --color-1a: #077704;
  --color-1b: #00793d;
  --color-1c: #00727d;
  --color-1d: #000000;
  --color-1e: #000000;
  --color-1f: #000000;
  --color-20: #fefeff;
  --color-21: #5db3ff;
  --color-22: #8fa1ff;
  --color-23: #c890ff;
  --color-24: #f785fa;
  --color-25: #ff83c0;
  --color-26: #ff8b7f;
  --color-27: #ef9a49;
  --color-28: #bdac2c;
  --color-29: #85bc2f;
  --color-2a: #55c753;
  --color-2b: #3cc98c;
  --color-2c: #3ec2cd;
  --color-2d: #4e4e4e;
  --color-2e: #000000;
  --color-2f: #000000;
  --color-30: #fefeff;
  --color-31: #bcdfff;
  --color-32: #d1d8ff;
  --color-33: #e8d1ff;
  --color-34: #fbcdfd;
  --color-35: #ffcce5;
  --color-36: #ffcfca;
  --color-37: #f8d5b4;
  --color-38: #e4dca8;
  --color-39: #cce3a9;
  --color-3a: #b9e8b8;
  --color-3b: #aee8d0;
  --color-3c: #afe5ea;
  --color-3d: #b6b6b6;
  --color-3e: #000000;
  --color-3f: #000000;
}

.overworld {
  --shadow-color: var(--color-0d);
  --division-color: var(--color-0d);
  --accent-color: var(--color-17);
  --light-accent-color: var(--color-37);
  --reflection-color: var(--color-37);
}

.underground {
  --shadow-color: var(--color-1c);
  --division-color: var(--color-0d);
  --accent-color: var(--color-1c);
  --light-accent-color: var(--color-3c);
  --reflection-color: var(--color-0d);
}

.water {
  --shadow-color: var(--color-0d);
  --division-color: var(--color-0d);
  --accent-color: var(--color-2a);
  --light-accent-color: var(--color-3a);
  --reflection-color: var(--color-3a);
}

.castle {
  --shadow-color: var(--color-00);
  --division-color: var(--color-0d);
  --accent-color: var(--color-10);
  --light-accent-color: var(--color-20);
  --reflection-color: var(--color-0d);
}
