.grid {
  display: grid;
  grid-auto-columns: min-content;
  grid-auto-flow: column;
}

.block {
  display: inline-block;
  height: 1px;
  margin-bottom: 16px;
  margin-left: -1px;
  margin-right: 16px;
  margin-top: -1px;
  width: 1px;
}
